@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header--dark{
    background-color: rgb(51,57,64);
    color: rgb(236,236,236);
    line-height: 3em;
}

.header__title{
    display: inline;
    font-size: 1.25rem;
}

.header__search{
    display: inline;
    float: right;
    right: 2rem;
    margin:-5px;
}

.search__btn{
    background-color: rgb(0,123,255);
    border-radius: 0 4px 4px 0;
    color: rgb(255,255,255)
}
.search__input {
    font-size: 1.2rem;
    border-radius: 4px 0 0 4px;
    padding: 0.375rem 0.75rem;
    transition: border 0.15s;
    outline: none;
  }
  .search__input:focus {
    border: 2px solid rgb(128, 189, 255);
  }
.main__nav{
    background-color: rgb(33,37,41);
    font-size: 2 em;
    color: rgb(255,255,255);
    display:block;
    width:20%;
    float:left;
    padding: 10px;
}
.nav__ul a:link{
    text-decoration: none;
    color: rgb(255,255,255);
}
.nav__ul{
    list-style-type: none;
    color: rgb(255,255,255)
    line-height: 2.5rem;
}
.nav__ul .li{
    color: rgb(255,255,255);
}

.content{
    display: inline-block
}

.main__cards{
    margin: 10px 0px 10px 0;
    display: inline-block
}

.main__breadcrumb{
    background-color: rgb(233,236,239);
    border-radius: 0.25rem;
    padding: 1rem 1.5rem;
}

.main__card--blue{
    background-color: rgb(0,123,255);
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.main__card--yellow{
    background-color: rgb(255,193,7);
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.main__card--green{
    background-color: rgb(40,167,69);
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
} 

.main__card--red{
    background-color: rgb(220,53,69);
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
} 

.card__top {
    border-radius: 0.25rem 0.25rem 0 0;
    transition: background-color 0.3s;

    padding: 20px 80px 20px 20px;
    font-size: 0.8rem;
    transition: color 0.3s;
}

.card__bottom {
        border-radius: 0 0 0.25rem 0.25rem;
        transition: background-color 0.3s;
    
        padding: 10px 110px 10px 20px;
        font-size: 0.6rem;
        transition: color 0.3s;
}

.card__top:hover{
    background-color: rgb(128, 189, 255);
}

.card__bottom:hover{
    background-color: rgb(128, 189, 255);
}